p {
    background-color: rgb(179, 179, 179);
    border: 10px solid black;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 50px;
    padding: 16px
}